# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# discord-qq-bridge
go-cqhttp

/cache
/config.json
/config.dev.json
/config.prod.json
/src/koishi.config.ts
/src/koishi.config.prod.ts
/src/el.config.ts
/src/el.config.prod.ts
/mcl/bots/
/mcl/config/
