version: '3'
services:
    mirai-mcl:
        ports:
            - "8080:8080"
        expose: 
            - "8080"
        restart: always
        privileged: 'true'
        volumes:
            - ./mcl-1.1.0-beta.1:/bridge/mcl
            - ./cache:/bridge/cache
        working_dir: /bridge/mcl
        command: ./mcl
        image: openjdk:11.0.10-oraclelinux8
volumes:
    logvolume01: {}

