<nb-card>
  <nb-card-header>
    自动审批同意加群
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source">
    </ng2-smart-table>
    <button nbButton status="primary" (click)="onButtonClickSave()">保存</button>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    正则测试
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="label">正则</label>
          <input type="text" nbInput fullWidth placeholder="正则" [(ngModel)]="test.reg" (ngModelChange)="onChangeTest()">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="label">答案</label>
          <input type="text" nbInput fullWidth placeholder="答案" [(ngModel)]="test.message" (ngModelChange)="onChangeTest()">
        </div>
      </div>
    </div>
    <nb-alert *ngIf="test.status !== 'none'"
              [status]="test.status">{{test.status === 'success' ? '通过' : '不通过' }}</nb-alert>
  </nb-card-body>
</nb-card>
